.P-footer-block {
    color: #626364;
    padding: 0 60px 30px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    @media screen and (max-width: 320px) {

        font-size: 11px;
    }
}
