* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Open+Sans:wght@300&display=swap");

.g-container {
  width: 90%;
  margin: 0 auto;
}
.g-text-center {
  text-align: center;
}
